@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Ysabeau', sans-serif;
}

.navbarblue {
  background-color: #1876d2;
}