{% load static %}

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Soundify</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/home.js' %}"></script>
</head> -->

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script defer src="{% static 'js/home.js' %}"></script>  
    </head>
<body>
    <navbar>
        <header>this is where the NAVBAR lives</header>
    </navbar>
    <main>
        <div>

            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <div>All Rights Reserved, &copy; 2023 BeyondMD &nbsp;</div>
    </footer>
</body>

</html>